@import "variables.scss";

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

// extend
%flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
// @extend %flex-center-center;


// header
header{
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .mine{
        color: white;
    }
    .logo{
        width: 30%;
        aspect-ratio: 1/1;
        background-color: white;
    }
    .nav{
        ul{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            li{
                text-align: center;
                color: white;
                list-style: none;
                display: inline;
                cursor: pointer;
                &:hover{
                    animation: blur;
                    animation-duration: 0.5s;
                    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
                }
            }
            a{
                margin: 20px;
                text-decoration: none;
            }
        }
    }
}

.about{
    width: 100%;
    height: 100vh;
    display: flex;
    .about_nav{
        width: 50%;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #333;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .nav{
            ul{
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                li{
                    text-align: center;
                    color: white;
                    list-style: none;
                    display: inline;
                    cursor: pointer;
                    &:hover{
                        animation: blur;
                        animation-duration: 0.5s;
                        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
                    }
                }
                a{
                    margin: 20px;
                    text-decoration: none;
                }
            }
        }
    }
    .info{
        width: 50%;
        background-color: white;
    }
}

.porfolio{
    width: 100%;
    display: flex;
    .left{
        width: 50%;
        background-color: white;
        position: relative;
        .porfolio_nav{
            border: 1px solid black;
            height: 100vh;
            position: sticky;
            top: 0;
            padding-top: 30px;
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .nav{
                ul{
                    margin: 0;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    li{
                        text-align: center;
                        color: #333;
                        list-style: none;
                        display: inline;
                        cursor: pointer;
                        &:hover{
                            animation: blur;
                            animation-duration: 0.5s;
                            animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
                        }
                    }
                    a{
                        margin: 20px;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .trabajos{
        width: 50%;
        background-color: #333;
        .work{
            height: 100vh;
            border: 1px solid white;
        }
    }
}

.contact{
    width: 100%;
    height: 35vh;
    display: flex;
    .contact_nav{
        width: 50%;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #333;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .nav{
            ul{
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                li{
                    text-align: center;
                    color: white;
                    list-style: none;
                    display: inline;
                    cursor: pointer;
                    &:hover{
                        animation: blur;
                        animation-duration: 0.5s;
                        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
                    }
                }
                a{
                    margin: 20px;
                    text-decoration: none;
                }
            }
        }
    }
    .info{
        width: 50%;
        background-color: white;
    }
}

footer{
    width: 100%;
    height: 65vh;
    background-color: black;
}