@import "variables.scss";

*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

// extend
%flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
// @extend %flex-center-center;


// ::-webkit-scrollbar {
//     display: none;
// }

// return
.return{
    position: fixed;
    z-index: 100;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    // mix-blend-mode: exclusion;
    border-radius: 50%;
    cursor: pointer;
    @extend %flex-center-center;
    text-align: center;
}

// header
header{
    width: 100%;
    height: 100vh;
    padding-left: 120px;
    // background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 10;

    #hamburguer{
        width: 80px;
        height: 100vh;
        background: #fff;
        position: fixed;
        left: 0;
        border-right: 1px solid #f0f0f0;
        z-index: 9999;
        .menu{
            display: flex;
            position: static;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 50vh auto;
            width: 70px;
            height: 20px;
            cursor: pointer;
           
            .linea{
                width: 30px;
                height: 4px;
                border-radius: 10px;
                background-color: $main-color;
                
                &.uno{
                    transition-duration: 1s;
                    transition-property: all;
                    transition-timing-function: ease;
                    transform-origin: 0 center;
                }
                &.dos{
                    transition-duration: 1s;
                    transition-property: all;
                    transition-timing-function: ease;
                }
                &.tres{
                    transition-duration: 1s;
                    transition-property: all;
                    transition-timing-function: ease;
                    transform-origin: 0 center;
                }
                &.cruz{
                    &.uno{
                        width: 23px;
                        transform: rotate(45deg);
                    }
                    &.dos{
                        opacity: 0;
                    }
                    &.tres{
                        width: 23px;
                        transform: rotate(-45deg);
                    }
                }

            }
    
        }
    }


    .inicio{
        padding-top: 80px;
        z-index: 10;
    }
    
    .scroll{
        width: 2px;
        height: 50px;
        background-color: #ffffff;
        border-radius: 10px;
        position: absolute;
        bottom: 0px;
        left: 53%;
        animation-name: scroll;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    @keyframes scroll{
        0%{
            height: 0px;
        }
        100%{
            height: 50px;
        }
    }

    .custom-shape-divider-bottom-1664549048 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        min-width: 50%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        svg {
            position: relative;
            display: block;
            width: calc(206% + 1.3px);
            height: 445px;
            transform: rotateY(180deg);
        }
        .shape-fill {
            fill: #EB695E;
        }
    }   
}


// portfolio
.porfolio{
    width: 100%;
    height: 300vw;
    .ventana{
        overflow: hidden;
        position: sticky;
        top: 0;
        .line{
            white-space: nowrap;
            .section{
                display: inline-block;
                height: 100vh;
                width: 100vw;
                background-color: #c2c2c2;
                border: 1px solid white;
            }
        }
    }
}



// menu hamburgeusa
.fondo{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #000000a6;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    z-index: -1;
    &.visible{
        opacity: 1;
        z-index: 100;
    }
}
.pop{
    position: fixed;
    left: -600px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    &.aparece{
        left: 50vh;
    }
}
.info{
    width: 50vw;
    height: 100vh;
    min-width: 320px;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    text-align: center;
    color: #606071;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20vh 40px;
    .nav{
        position: relative;
        overflow: hidden;
        height: 100px;
        ul .title{
        display: inline-block;
        color: #90909b;
        cursor: pointer;
        padding-right: 25px;
        &.active{
            color: $main-color;
            text-decoration: underline solid 1px $main-color;
            }
        }
    }

    .description{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 535px;
        .text{
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            opacity: 0;
            &.open{
                opacity: 1;
                position: relative;
            }
            div{
                width: 330px;
                text-align: left;
            }
        }
    }
}

